<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restrict Bypass</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
</head>
<body>
    <div id="container">
        <p id="error"></p>
        <h1>Restrict Bypass</h1>
        <input id="link" placeholder="Enter URL to bypass"></input>
        <button id="submit">Bypass Restriction</button>
        <p id="credits">Powered by <a href="https://github.com/xanonDev/RestrictBypass" target="_blank">Restrict Bypass</a></p>
    </div>

    <div id="howToUseOverlay" class="overlay">
        <div class="overlay-content">
            <h2>How to Use</h2>
            <ol>
                <li>Paste the link to the website you want to open into the provided text field (e.g., https://www.youtube.com).</li>
                <li>Click on the "Bypass" button.</li>
                <li>Alternatively, you can import this repository into your own Replit workspace.</li>
            </ol>
            <button onclick="closeHowToUseOverlay()">Close</button>
        </div>
    </div>

    <script>
        const button = document.getElementById("submit");
        const link = document.getElementById("link");
        const errorBox = document.getElementById("error");
        const howToUseOverlay = document.getElementById("howToUseOverlay");

        button.addEventListener("click", function () {
            data = btoa(link.value);
            window.location.href = "/bypass?link=" + data;
        });

        link.addEventListener("keyup", function (event) {
            if (event.keyCode === 13) {
                button.click();
            }
        });

        function closeHowToUseOverlay() {
            howToUseOverlay.style.display = "none";
        }
        let url = new URL(window.location.href);
        errorUrl = url.searchParams.get("error");
        errorDet = url.searchParams.get("errorDet");
        if(errorUrl) {
          howToUseOverlay.style.display = "none";
          link.style = "border: 2px solid red;"
          errorBox.textContent = errorUrl;
          console.error(errorDet)
          console.error("you can go to https://github.com/xanonDev/RestrictBypass/issues to report bug")
        }
    </script>
</body>
</html>
