<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restrict Bypass</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
</head>
<body>
    <div id="container">
        <p id="error"></p>
        <h1>Restrict Bypass</h1>
        <input id="link" placeholder="Enter URL to bypass"></input>
        <button id="submit">Bypass Restriction</button>
        <p id="credits">Powered by <a href="https://github.com/xanonDev/RestrictBypass" target="_blank">Restrict Bypass</a></p>
    </div>

    <div id="howToUseOverlay" class="overlay">
        <div class="overlay-content">
            <h2>How to Use</h2>
            <ol>
                <li>Paste the link to the website you want to open into the provided text field (e.g., https://www.youtube.com).</li>
                <li>Click on the "Bypass" button.</li>
                <li>Alternatively, you can import this repository into your own Replit workspace.</li>
            </ol>
            <p><input type="checkbox" id="ShowAgain">dont show again</p>
            <button onclick="closeHowToUseOverlay()">Close</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
